.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(41, 41, 43)
}
.header{
    position: fixed;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    height: 65.8px;
    z-index: 10;
    display: flex;
    background: rgb(51, 51, 51);
}
.sidebar{
    max-height: 600px;
    height: 800px;
    background: rgb(41, 41, 43);
    display: block;
    padding-top: 100px;
    position: fixed;
    z-index: 9;
    border-right: 1px solid rgb(51, 51, 51);
    overflow-y: scroll;
}
.sidebar_items{
    cursor: pointer;
    align-items: center;
    display: block;
    height: 40px;
    padding-top: 20px;
    font-family: Arial;
    font-size: 13px;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: #fff;
}
.imgside:hover{
    display: block;
    background: rgb(51, 51, 51);
    width: 100%;
}
.imgside:hover a{
    color: red;
}
.imgside{
    margin-top: 10px;
    height: 50px;
    display: block;
    padding-top: 14px;
}
.imgside a{
    margin-left: 15px;
    position: relative;
    bottom: 8px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.imgside img{
    border-radius: 20%;
    width: 60px;
    margin-top: 10px;
}
.content{
    float: right;
    height: 2400px;
    background: #1f1f22;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content h2{
    font-size: 20px;
}
.slideshow{
    margin-top: 65.8px;
    display: flex;
    height: 200px;
    border-radius: 10px;
    background: #345;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    border-radius: 10px;
    background: grey;
    width: 5px;
}
.banner{
    margin-top: 150px;
    height: 200px;
    background: black;
    border-radius: 10px;
}
.banner img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    animation: bner 2s infinite;
    cursor: pointer;
}
@keyframes bner {
    from{ box-shadow: 0 0 0 1px darkred,
    0 0 0 2px mediumvioletred}
    to{box-shadow: 0 0 0 3px mediumvioletred,
    0 0 0 4px red;}
}
.player{
    display: block;
    margin-top: 30px;
    height: 560px;
    border: 2px solid grey;
    flex-direction: column;
    border-radius: 10px;
    overflow-x: hidden;
}

.content h2{
    color: white;
    position: relative;
    left: -40%;
    top:20px;
}
#vip{
    color: violet;
    font-family: sans-serif ;
}
.detail_player{
    display: flex;
    height: 240px;
    margin-top: 20px;
    margin-left: 30px;
    flex-direction: column;
    border-radius: 10px;
    float: left;
    font-size: 10px;
}
.vip{
    border: 1px solid violet;
}

.detail_pic{
    height: 75%;
}
.detail_pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.detail{
    text-indent: 10px;
    font-family: Tahoma;
    color: white;
    font-size: 14px;
    height: 25%;
    display: block;
}
.detail p{
    margin-top: 0px;
    color: #fff;
}
.row{
    justify-content: center;
    display: flex;
    height: 50%;
    flex-direction: row;
}
.header1{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}
#search{
    height: 35px;
    background: #1f1f22;
    color: white;
    width: 200px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}
#logo{
    font-family: Arial;
    letter-spacing: 4px;
    text-indent: 20px;
    margin-right: 25px;
}
#logo span{
    animation: flxx 2s infinite;
}
@keyframes flxx {
    from{text-shadow: 0 0  5px #03e9f4,
                        0  0 25px #03e9f4}
    to{text-shadow: 0 0  50px #03e9f4,
                    0 0  100px mediumvioletred}
}
.header2{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}
.header2 button{
    height: 35px;
    background: #1f1f22;
    border: none;
    color: red;
    border-radius: 8px;
    height: 38px;
    font-size: 15px;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: 900;
    margin-right: 10px;
}
.header2 button:hover{
    color: #fff;
}
#hot{
    font-family: Arial;
    color: red;
}
#new{
    font-family: Arial;
    color: grey;
}
.hot{
    border: 1px solid darkred;
}
.new{

    border: 1px solid grey;
}
#contain{
    min-height: 560px;
}
.sidebar h3{
    text-indent: 30px;
    color: white;
    font-family: Tahoma;
}
.price{
    padding: 3px;
    background-color: red;
    border-radius: 5px;
    font-size: 15px;
    font-family: Arial;

}
::-webkit-scrollbar-track{
    background: #1f1f22;
}
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 2px;
}
#btn-search{
    position: relative;
    left: -16px;
    top: 24px;
    color: red;
}
.header1 form{
    display: flex;
}
#submit{
    height: 35px;
    position: relative;
    top: 12px;
    border-radius: 10px;
    border: none;
    left: -5px;
    font-family: Tahoma;
    color: red;
    font-weight: 600;
    background: #1f1f22;
    cursor: pointer;
}
#submit:hover{
    color: #fff;
}